<div *ngIf="loading">
  <div class="spinner-border loading-spinner" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="text-center mt-3">Carregando...</div>
  </div>

<div class="mt-2 container mb-2">
  <h2 class="mb-3 mt-2">Integração NewsAPI</h2>
  <table *ngIf="!loading" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let new of news; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ new.title }}</td>
        <td>{{ new.author ?? '-'}}</td>
        <td>{{ new.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
